.login-button{
    display:flex;
    justify-content: flex-end;
    margin: 20px;
}

.nav-section{
    display:flex;
    justify-content:center;
}

.menu-list{
    display:flex;
    list-style-type:none;
}

.menu-list li{
    display: flex;
    padding:10px;
    justify-content: center;
}

.menu-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-area{
    display: flex;
    justify-content: flex-end;
}


.search-input {
   
    width: 200px;
    height: 30px;
    background: none;
    outline: none;
    border: 0;
    border-bottom: 1px solid
  }

  
.search-box {
    display: flex;
    align-items: center;
    gap: 8px;
  }
